.nav {
	display: block;
	height: 100%;
	margin-left: -16px;
	margin-right: -16px;
	text-indent: 16px;
	color: rgba(0, 0, 0, 0.870588);
	text-decoration: none;
}
.active {
	background: rgba(0, 0, 0, 0.2);
}